![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [46]:
from pymongo import MongoClient
import pandas as pd
import ssl
client=MongoClient("mongodb+srv://Tan:Tania1206@cluster0.xq2f0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",ssl_cert_reqs=ssl.CERT_NONE)
db=client.db_companies
companies=db["companies"]

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [50]:
companies.find(filter={"name":"Babelgum"})

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [61]:
companies.find(filter={"number_of_employees":{"$gt": 5000 }}, projection={"number_of_employees":-1}, limit=10)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [63]:
companies.find(filter={ "$and": [ {"founded_year":{ "$lte": 2005}}, {"founded_year":{ "$gte": 2000}} ] }, projection={"name":1,"founded_year":1})

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [67]:
companies.find(filter= {"ipo.valuation_amount":{"$gt":100000000},"founded_year":{ "$lt": 2010}}, projection={"ipo":1, "name":1})

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [71]:
companies.find(filter={"number_of_employees":{ "$lt": 1000 },"founded_year":{ "$lt": 2005}}, sort=[("number_of_employees",-1)], limit=10)

### 6. All the companies that don't include the `partners` field.

In [73]:
companies.find(filter={"partners": { "$exists" : "false" } })

### 7. All the companies that have a null type of value on the `category_code` field.

In [76]:
companies.find(filter={"category_code":"null"})

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [80]:
companies.find(filter={ "$and": [ {"number_of_employees":{ "$lte": 1000}}, {"number_of_employees":{ "$gte": 100}}]}, projection={"name":1,"number_of_employees":1})

### 9. Order all the companies by their IPO price descendently.

In [82]:
 companies.find(sort=[("ipo.valuation_amount",-1)])

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [83]:
companies.find(sort=[("number_of_employees",-1)],limit=10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [84]:
companies.find(filter={"founded_month": {"$gt": 6}}, limit=1000)

### 12. All the companies that have been 'deadpooled' after the third year.

In [85]:
companies.find(filter={"deadpooled_year": {"$gt": 3}})

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [86]:
companies.find(filter= {"founded_year": {"$lt": 2000},'acquisition.price_amount': {"$gt": 10000000}})

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [87]:
 companies.find(filter={'acquisition.acquired_year': {"$gt": 2015}}, projection={"name": 1,"acquisition": 1}, sort=[('acquisition.price_amount', -1)])

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [89]:
companies.find(projection={"name": 1,"founded_year": 1}, sort=[("founded_year", -1)])

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [90]:
companies.find(filter={"founded_day": {"$lte": 7}}, sort=[( 'acquisition.price_amount', -1)], limit=10)

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [92]:
companies.find(filter={"category_code": 'web',"number_of_employees": {"$gt": 4000}}, sort=[("number_of_employees", 1)])

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [93]:
companies.find(filter={'acquisition.price_amount': {"$gt": 10000000},'acquisition.price_currency_code': 'EUR'})

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [95]:
companies.find(filter= {'acquisition.acquired_month': {"$lte": 3}},projection= {"name": 1,"acquisition": 1}, limit=10)

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [96]:
companies.find(filter= {"$and": [{ "founded_year": { "$lte": 2010 }},{ "founded_year": { "$gte": 2000 }},{ 'acquisition.acquired_year': { "$gte": 2011 }}]})